@charset "utf-8";

@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// brand colors
$light-blue: #e9edee;
$tertiary-blue: #bed2d9;
$secondary-blue: #8abccd;
$strong-blue: #56afcd;
$orange-accent: #cd7456;
$dark-orange: #b6421b;

$primary: $orange-accent;
$link: $dark-orange;

@import "~bulma/sass/utilities/derived-variables";

$addColors: (
    "light-blue": ($light-blue, findColorInvert($light-blue)),
    "tertiary-blue": ($tertiary-blue, findColorInvert($tertiary-blue)),
    "secondary-blue": ($secondary-blue, findColorInvert($secondary-blue)),
    "strong-blue": ($strong-blue, findColorInvert($strong-blue)),
    "orange-accent": ($orange-accent, findColorInvert($orange-accent)),
    "dark-orange": ($dark-orange, findColorInvert($dark-orange)),
);

$colors: map-merge($colors, $addColors);

$title-color: $primary;
$panel-heading-line-height: 0.4;
$navbar-item-color: $primary;
$navbar-tab-active-border-bottom-color: $dark-orange;

.site-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.before-footer {
    flex: 1;
}

// finally, import the rest of bulma
@import "~bulma/bulma.sass"
